<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="chrome=1"> -->
    <title>angular-confirm.js | The multipurpose alert & confirm</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="description"
          content="A multipurpose alert, confirm plugin, alternative to the native alert() and confirm() functions. Supports features like auto-close, themes, animations, and more.">
    <link rel="canonical"
          href="https://craftpip.github.io/angular-confirm"/>
    <link rel="icon"
          type="img/ico"
          href="http://craftpip.com/i/apple-touch-icon-57x57.png">
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8"/>
    <meta name="robots"
          content="index,follow,noodp,noydir"/>
    <meta name="google-site-verification"
          content="T_M_Ym5DQ-cEQQhx_jswyCBTssIdgtewICcvb3sgh8g"/>
    <meta name="Keywords"
          content="angular.confirm, angular confirm, angular alert, angular prompt, angular dialog, javascript, bootstrap"/>
    <link rel="apple-touch-icon"
          sizes="57x57"
          href="http://craftpip.com/i/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon"
          sizes="72x72"
          href="http://craftpip.com/i/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon"
          sizes="114x114"
          href="http://craftpip.com/i/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon"
          sizes="144x144"
          href="http://craftpip.com/i/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon"
          href="http://craftpip.com/i/apple-touch-icon-57x57.png"/>
    <meta property="og:title"
          content="angular-confirm.js | The multipurpose alert &amp; confirm"/>
    <meta property="og:type"
          content="website"/>
    <meta property="og:image"
          content="http://craftpip.com/i/apple-touch-icon-57x57.png"/>
    <meta property="og:url"
          content="https://craftpip.github.io/angular-confirm"/>
    <meta property="og:description"
          content="A multipurpose alert & confirm plugin, alternative to the native alert() and confirm() functions. Supports features like auto-close, themes, animations, and more."/>
    <meta property="og:site_name"
          content="craftpip.github.io"/>

    <link rel="stylesheet"
          href="demo/libs/bundled.css">
    <script src="demo/libs/bundled.js"></script>

    <link rel="stylesheet"
          href="demo/demo.css">

    <script>
        var version = '1.0.0';
    </script>
    <style type="text/css">
        .space10 {
            height: 10px;
        }

        body {
            font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
            position: relative;
        }
    </style>

    <!-- Add the minified version of files from the /dist/ folder. -->
    <!-- angular-confirm files -->
    <link rel="stylesheet"
          type="text/css"
          href="css/angular-confirm.css"/>
    <script type="text/javascript"
            src="js/angular-confirm.js"></script>
    <!--END angular-confirm files-->

</head>
<body data-spy="scroll"
      data-target=".navbar">
<header class="navbar navbar-static-top navbar-default navheader">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed"
                    type="button"
                    data-toggle="collapse"
                    data-target="#bs-navbar"
                    aria-controls="bs-navbar"
                    aria-expanded="false"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span></button>
            <a class="navbar-brand aconfirm-logo"
               href="http://craftpip.github.io/angular-confirm">
            </a>
        </div>
        <nav id="bs-navbar"
             class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="http://github.com/craftpip/angular-confirm"><i class="fa fa-github"></i> Project
                    home</a></li>
                <li class=""><a href="http://github.com/craftpip/angular-confirm/issues/new">Suggest feature</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Versions <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://craftpip.github.io/angular-confirm/v1.0">v1.0</a></li>
                    </ul>
                </li>
                <li>
                    <a class="github-button"
                       href="https://github.com/craftpip/angular-confirm"
                       data-style="mega"
                       data-count-href="/craftpip/angular-confirm/stargazers"
                       data-count-api="/repos/craftpip/angular-confirm#stargazers_count"
                       data-count-aria-label="# stargazers on GitHub"
                       aria-label="Star craftpip/angular-confirm on GitHub">Star</a>
                </li>
                <li>
                    <a class="twitter-follow-button"
                       data-show-count="false"
                       data-size="large"
                       href="https://twitter.com/craftpip"
                       data-show-count="false"
                       data-lang="en">
                        Follow @craftpip
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="header"
     id="content"
     tabindex="-1">
    <div class="container">
        <h1 style="margin-top: 7px;"
            class="text-center">
            <img style="width: 400px;"
                 src="angular-confirm.png"
                 alt="ANGULAR-CONFIRM"/>
        </h1>

        <p>
            <em>alerts</em>, <em>confirms</em> and <em>dialogs</em> in <strong>one</strong>.
        </p>
        <div class="row download-btns">
            <div class="col-md-12">
                <div style="height: 15px;"></div>
                <a href="https://github.com/craftpip/angular-confirm/releases/download/v1.0.0/angular-confirm-v1.0.0.zip"
                   class="btn btn-lg">Download v1
                </a>
                <a href="https://github.com/craftpip/angular-confirm"
                   class="btn btn-lg"><i class="fa fa-github"></i> View on GitHub
                </a>
                <div style="height: 15px;"></div>
            </div>
        </div>
    </div>
</div>
<div class="container"
     ng-app="application">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="space10"></div>
            <div class="space10"></div>
            <p>
                <strong>angular-confirm v<span class="version"></span> docs</strong><br>
                <a href="https://github.com/craftpip/angular-confirm">
                    view on <i class="fa fa-github"></i> Github
                </a>
            </p>
            <div class="spacer15"></div>
            <div id="my-nav">
                <ul class="nav nav-list">
                    <li>
                        <a href="#quickfeatures"> Quick features</a>
                        <ul class="nav nav-list">
                            <li>
                                <a href="#installation"> Installation</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <!-- introduction -->
            <section>
                <header>
                    <h3>Welcome to angular-confirm!</h3>

                    <p>
                        Easy to use and highly flexible! <br/>
                        <!--A jQuery plugin that provides great set of features like,-->
                        <!--Auto-close, Ajax-loading, Themes, Animations and more. <br>-->
                        <!--This plugin is actively developed, I would love you have your suggestions.-->
                    </p>
                    <a href="https://github.com/craftpip/angular-confirm/issues"
                       target="empty"
                       class="btn btn-success"><i class="fa fa-bug fa-fw"></i> Please post your Suggestions here.</a>
                </header>
            </section>
            <hr>
            <section id="quickfeatures" ng-controller="quickFeaturesController">
                <h1>Features</h1>

                <p>These features can practically be used like so.</p>

                <div class="row">
                    <div class="col-md-3">
                        <button ng-click="alert()" class="btn btn-primary btn-block">Alerts</button>
                        <p class="text-success">Elegant Alerts.</p>
                    </div>

                    <div class="col-md-3">
                        <button ng-click="confirm()" class="btn btn-primary btn-block ">Confirmation</button>
                        <p class="text-success">Stacked Confirmations</p>
                    </div>
                    <div class="col-md-3">
                        <button ng-click="type()" class="btn btn-primary btn-block">Alert types
                        </button>
                        <p class="text-success">Success, error, warning</p>
                    </div>
                    <div class="col-md-3">
                        <button ng-click="prompt()" class="btn btn-primary btn-block">Prompt</button>
                        <p class="text-success">Need input?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button ng-click="dialog()" class="btn btn-primary btn-block">Dialogs</button>
                        <p class="text-success">Its also a Dialog.</p>
                    </div>
                    <div class="col-md-3">
                        <button ng-click="bgDismiss()" class="btn btn-primary btn-block">Background
                            dismiss
                        </button>
                        <p class="text-success">Not so important modal</p>
                    </div>
                    <div class="col-md-3">
                        <button ng-click="asyncContent()" class="btn btn-primary btn-block">Asynchronous
                            content
                        </button>
                        <p class="text-success">Loading from remote places</p>
                    </div>
                    <div class="col-md-3">
                        <button ng-click="autoClose()" class="btn btn-primary btn-block">Auto-close</button>
                        <p class="text-success">Some actions maybe critical</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <button ng-click="keyStrokes()" class="btn btn-primary btn-block">Keystrokes
                        </button>
                        <p class="text-success">Responds to keystrokes</p>
                    </div>
                    <div class="col-md-3">
                        <button ng-click="centerAlign()" class="btn btn-primary btn-block">Alignment
                        </button>
                        <p class="text-success">Automatically centered</p>
                    </div>
                    <div class="col-md-3">
                        <button ng-click="imageLoading()" class="btn btn-primary btn-block">Images</button>
                        <p class="text-success">Loading images</p>
                    </div>
                    <div class="col-md-3">
                        <button ng-click="videos()" class="btn btn-primary btn-block">Videos</button>
                        <p class="text-success">Youtube videos</p>
                    </div>
                </div>
            </section>


            <!--<section>-->
            <!--<h2>Whats new <span style="color: #aaa">in v3.0.1</span></h2>-->
            <!--<ul>-->
            <!--<li>Support for namespaced bootstrap classes</li>-->
            <!--<li>Jconfirm can be used without bootstrap</li>-->
            <!--<li>Added type for modals (green/success, red/failure, orange/warning, etc)</li>-->
            <!--</ul>-->
            <!--</section>-->


            <!-- Installation -->
            <section id="getting-started">
                <h2>Getting started</h2>
                <h3 id="installation">
                    Installation
                </h3>
                <div class="section">
                    <p>
                        <strong>Download</strong>
                        <br>
                        Download the Latest version and use files in the <code>/dist/</code> folder.
                    </p>

                    <p>
                        <strong>via Bower:</strong>
                        <br>
                        <code>
                            $ bower install craftpip/angular-confirm
                        </code>
                    </p>

                    <p>
                        <strong>via Npm:</strong>
                        <br>
                        <code>
                            $ npm install angular-confirm
                        </code>
                    </p>

                    <p>
                        <strong>Dependencies:</strong>
                    </p>
                    <ul>
                        <li>Angular >= 1.5</li>
                        <li>Angular ngSanitize >= 1.5</li>
                        <li>Angular ngAnimate >= 1.5</li>
                        <li>Bootstrap by Twitter >= v3 (optional, if you want to use responsive layouts)</li>
                        <li>jQuery library >= v1.8</li>
                    </ul>
                    <div class="alert alert-info">
                        <i class="fa fa-info fa-fw"></i> to use ngConfirm without bootstrap set <code>useBootstrap:
                        false</code>
                    </div>
                </div>
            </section>


            <!-- basic usage -->
            <section id="usage" ng-controller="quickUseController">
                <h3>Basic Usage</h3>

                <div class="section">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 id="module_dependency">
                                Add the module dependency in your app
                            </h4>
                        </div>
                        <div class="col-md-12">
                            <pre class="prettyprint linenums"><code class="js">angular.module('myModule', ['cp.ngConfirm'])</code></pre>
                        </div>
                        <div class="col-md-12">
                            <h4 id="confirm">
                                $ngConfirm
                            </h4>
                        </div>
                        <div class="col-md-12">
                            <p>
                                A basic usage of ngConfirm, <br>
                                This pretty much explains how it works, content is the template that will be shown
                                inside the popup.
                                <br>
                            <p class="text-warning">If $scope is not provided, ngConfirm will create a child scope from
                                rootScope.</p>
                            </p>
                            <button ng-click="test()" class="btn btn-primary">test()</button>
                            <div class="space10"></div>
                            <pre class="prettyprint linenums"><code class="js" ng-non-bindable>.controller('myController', function ($scope, $ngConfirm) {
    $scope.name = 'Sia: cheap thrills';
    $scope.test = function(){
        $ngConfirm({
            title: 'Confirm!',
            content: '{{name}} is my favourite song',
            scope: $scope,
            buttons: {
                sayBoo: {
                    text: 'Say Booo',
                    btnClass: 'btn-blue',
                    action: function($scope, button){
                        $scope.name = 'Booo!!';
                        return false; // prevent close;
                    }
                },
                somethingElse: {
                    text: 'Something else',
                    btnClass: 'btn-orange',
                    action: function($scope, button){
                        $ngConfirm('You clicked on <strong>something else</strong>');
                    }
                }
                close: function($scope, button){
                    // closes the modal
                },
            }
        });
    }
});</code></pre>
                        </div>
                        <div class="col-md-12">
                            <h4 id="shorthand">Shorthand usage</h4>

                            <p>
                                The shorthand thingy is made so that you don't need to define everything again. <br>
                                There are 4 variants for passing the arguments.
                            </p>
                            <pre class="prettyprint linenums"><code class="js">$ngConfirm('Content here');
$ngConfirm('Content here', $scope);
$ngConfirm('Content here', 'Title here');
$ngConfirm('Content here', 'Title here', $scope);</code></pre>
                        </div>
                    </div>
                </div>
            </section>

            <section id="buttons" ng-controller="buttonController">
                <h2>Buttons</h2>
                <p>
                    Its all what you need to know about buttons in ngConfirm.
                </p>
                <h4 id="defining-buttons">
                    Definition
                </h4>
                <div class="section">
                    <p>
                        Buttons can be defined in the following fashion, pretty self explanatory.
                    </p>
                    <pre class="prettyprint linenums"><code class="html" ng-non-bindable>$ngConfirm({
    buttons: {
        hello: function($scope, button){
            // button action
        },
        hey: function($scope, button){
            button.disabled = true; // disable the current button.
            button.text = 'heyyyy'; // change the current button text.
            this.triggerButton('hello'); // this triggers the other button named hello.
            this.buttons.heyThere.disabled = true; // disable the hello button.
        },
        heyThere: {
            text: 'Hey there!',
            btnClass: 'btn-blue',
            keys: ['enter', 'a'],
            action: function($scope, button){
                // button action
            }
        }
    }
});</code></pre>
                </div>
                <h4 id="buttontext">Button text</h4>
                <div class="section">
                    <button ng-click="buttonText()" class="btn btn-primary">click me!</button>
                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code class="html" ng-non-bindable>$ngConfirm({
    buttons: {
        something: function(){
            // here the key 'something' will be used as the text.
            $ngConfirm('You clicked on something.');
        },
        somethingElse: {
            text: 'Something else &*', // Some Non-Alphanumeric characters
            action: function(){
                $ngConfirm('You clicked on something else');
            }
        }
    }
})</code></pre>
                </div>
                <h4 id="buttonstyle">Button style</h4>

                <div class="section">
                    <p>Simply applying classes to buttons.</p>
                    <p class="text-info">
                        ngConfirm comes bundled with <code>btn-blue</code> <code>btn-green</code> <code>btn-red</code>
                        <code>btn-orange</code> <code>btn-purple</code> <code>btn-default</code> <code>btn-dark</code>
                    </p>
                    <p class="text-info">
                        Other bootstrap options are <code>btn-primary</code> <code>btn-inverse</code>
                        <code>btn-warning</code>
                        <code>btn-info</code> <code>btn-danger</code> <code>btn-success</code>
                    </p>
                    <button ng-click="usingNgConfirmButtons()" class="btn btn-primary">Using buttons that come with
                        ngConfirm!
                    </button>
                    <button ng-click="usingBootstrapButtons()" class="btn btn-primary">Using bootstrap buttons!</button>
                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code class="html">$ngConfirm({
    buttons: {
        default: {
            btnClass: 'btn-default',
            ...
        },
        blue: {
            btnClass: 'btn-blue',
            ...
        },
        green: {
            btnClass: 'btn-green',
            ...
        },
    }
});</code></pre>
                </div>

                <h4 id="button_keys">Button keys</h4>

                <div class="section">
                    <p>
                        Listen to keyup events for individual buttons. A button can listen for multiple keys at a time.
                    </p>
                    <div class="alert alert-info">
                        Available options are: <br>
                        a to Z, tilde, enter, shift, tab, capslock, ctrl, win, alt, esc, space.
                    </div>
                    <button ng-click="buttonKeys()" class="btn btn-primary">Click me!</button>
                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code class="html">$ngConfirm({
    buttons: {
        specialKey: {
            text: 'On behalf of shift',
            keys: ['shift', 'alt'],
            action: function(){
                $ngConfirm('Shift or Alt was pressed');
            }
        },
        alphabet: {
            text: 'A, B',
            keys: ['a', 'b'],
            action: function(){
                $ngConfirm('A or B was pressed');
            }
        }
    }
});</code></pre>

                    <button type="button"
                            ng-click="buttonKeysExample()"
                            class="btn btn-primary">Another important example
                    </button>
                    <div class="space10"></div>
                    <p>
                        In this example, the YES button is hidden using bootstrap's hide class, thus the user can only
                        use keys to proceed.
                    </p>
                    <pre class="prettyprint linenums"><code class="html">$ngConfirm({
    title: false,
    content: 'A very very critical action here! &lt;br&gt; ' +
             'the proceed button is hidden.' +
             'The only way to proceed is to press the &lt;strong&gt;Y&lt;/strong&gt; key.&lt;br&gt;' +
             'Press &lt;span style="font-size: 20px;"&gt;Y&lt;/span&gt; to proceed.',
    buttons: {
        yes: {
            show: false, // hides the button using display: none
            keys: ['y'],
            action: function ($scope, button) {
                $ngConfirm('Critical action &lt;strong&gt;was performed&lt;/strong&gt;.');
            }
        },
        no: {
            keys: ['N'],
            action: function ($scope, button) {
                $ngConfirm('You clicked No.');
            }
        },
    }
});</code></pre>
                </div>

                <h4 id="button-properties">Button properties</h4>
                <div class="section">
                    <p>
                        Button properties provide a nice and clean way to alter your buttons in run-time.
                    </p>
                    <button ng-click="buttonProperties()" class="btn btn-primary">Try me</button>
                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code class="html">$ngConfirm({
    buttons: {
        buttonA: {
            text: 'button a',
            action: function ($scope, button) {
                button.text = 'Oh yeah'; // the current button
                this.buttons.buttonB.text = 'Changed it!';
                return false;
            }
        },
        buttonB: {
            text: 'button b',
            action: function ($scope, button) {
                this.buttons.buttonA.disabled = true;
                return false;
            }
        },
        reset: function ($scope, button) {
            this.buttons.buttonA.disabled = false;
            this.buttons.buttonA.text = 'button a';
            this.buttons.buttonB.text = 'button b';
            return false;
        },
        closeIcon: true, // let the user close the modal
    }
});</code></pre>
                    <p>
                        A full list of functions for buttons.
                    </p>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <td>
                                Property
                            </td>
                            <td>
                                Code
                            </td>
                            <td>
                                Description
                            </td>
                        </tr>
                        <tr>
                            <td>
                                text
                            </td>
                            <td>
                                this.buttons.&lt;buttonName&gt;.text = 'text'
                            </td>
                            <td>
                                The text you want to set.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                btnClass
                            </td>
                            <td>
                                this.buttons.&lt;buttonName&gt;.btnClass = 'btn-info'
                            </td>
                            <td>
                                Change the button's class.
                            </td>
                        </tr>
                        <tr>
                            <td>
                                disabled
                            </td>
                            <td>
                                this.buttons.&lt;buttonName&gt;.disabled
                            </td>
                            <td>
                                enable or disable a button
                            </td>
                        </tr>
                        <tr>
                            <td>
                                show
                            </td>
                            <td>
                                this.buttons.&lt;buttonName&gt;.show
                            </td>
                            <td>
                                Show or hide the button via CSS
                            </td>
                        </tr>
                    </table>
                </div>
            </section>


            <section id="customizing" ng-controller="customizationController">
                <h2>Customizing</h2>

                <h4 id="dialog-type">Dialog type</h4>

                <div class="section">
                    <p>
                        Dialog types helps give the user a hint as to what the dialog is about
                    </p>

                    <button ng-click="errorDialog()" class="btn btn-primary">Error/Red dialog</button>
                    <button ng-click="successDialog()" class="btn btn-primary">Success/Green dialog</button>
                    <button ng-click="errorDialogNoAnimation()" class="btn btn-primary">Non animated type dialog
                    </button>
                    <div class="space10"></div>
                    <button ng-click="dialogType('orange')" class="btn btn-primary">orange</button>
                    <button ng-click="dialogType('blue')" class="btn btn-primary">blue</button>
                    <button ng-click="dialogType('purple')" class="btn btn-primary">purple</button>
                    <button ng-click="dialogType('dark')" class="btn btn-primary">dark</button>

                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code>$ngConfirm({
    title: 'Encountered an error!',
    content: 'Something went downhill, this may be serious',
    type: 'red',
    typeAnimated: true,
    buttons: {
        tryAgain: {
            text: 'Try again',
            btnClass: 'btn-red',
            action: function(){
            }
        },
        close: function () {
        }
    }
});</code></pre>
                </div>

                <h4 id="icons">Icons</h4>

                <div class="section">
                    <p>Give meaning to your dialog with custom icons.<br>
                        Read about Font Awesome
                        <a href="http://fortawesome.github.io/Font-Awesome">here</a>
                        .
                    </p>

                    <button ng-click="iconFA()" class="btn btn-primary">Using font-awesome</button>
                    <button ng-click="iconAnimatedFA()" class="btn btn-primary">Animated font-awesome</button>
                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code>$ngConfirm({
    icon: 'glyphicon glyphicon-heart',
    title: 'glyphicon'
});
$ngConfirm({
    icon: 'fa fa-warning',
    title: 'font-awesome'
});
$ngConfirm({
    icon: 'fa fa-spinner fa-spin',
    title: 'Working!',
    content: 'Sit back, we are processing your request!'
});</code></pre>
                </div>

                <h4 id="close-icon">Close icon</h4>

                <div class="section">
                    <p>
                        ngConfirm confirm uses <code>&amp;times;</code> html entity for this close symbol, however you
                        can
                        use Any icon of your choice (fa, glyphicon, zmdi)
                    </p>

                    <div class="alert alert-info">
                        By default <code>closeIcon</code> is set to <code>null</code>.
                        That means, if buttons are not defined the closeIcon will be shown, else will not be shown.
                        <br>
                        To explicitly show <code>closeIcon</code> set it to a truthy value and vise versa.
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                Turn on closeIcon explicitly
                            </p>
                            <button ng-click="closeIcon()" class="btn btn-primary">With closeIcon</button>
                            <div class="space10"></div>
                            <pre class="prettyprint linenums"><code>$ngConfirm({
    closeIcon: true
});</code></pre>
                        </div>
                        <div class="col-md-6">
                            <p>
                                Using other libraries for icons
                            </p>
                            <button ng-click="closeIconFa()" class="btn btn-primary">Using font awesome</button>
                            <div class="space10"></div>
                            <pre class="prettyprint linenums"><code>$ngConfirm({
    closeIcon: true,
    closeIconClass: 'fa fa-close'
});</code></pre>
                        </div>
                    </div>

                    <h4>
                        <i class="fa fa-info"></i> Handle closeIcon's callback
                    </h4>
                    <p>
                        Control what happens when close icon is clicked. <br>
                        closeIcon can take in function to handle the button click or you can return a button name.
                    </p>
                    <button ng-click="closeIconCallback()" class="btn btn-primary">Test it</button>
                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code>$ngConfirm({
    closeIcon: function(){
        return false; // to prevent close the modal.
        // or
        return 'aRandomButton'; // set a button handler, 'aRandomButton' prevents close.
    },
    // or
    closeIcon: 'aRandomButton', // set a button handler
    buttons: {
        aRandomButton: function(){
            $.alert('A random button is called, and i prevent closing the modal');
            return false; // you shall not pass
        },
        close: function(){
        }
    }
});</code></pre>
                </div>
                <h4 id="custom-width">Custom width</h4>

                <div class="section">
                    <p>
                        ngConfirm uses bootstrap's grid system for its layout by default.
                        You can simply provide column classes to adjust the modal's width.
                    </p>

                    <p class="text-info"><i class="fa fa-magic fa-fw"></i> You can also set responsive layouts.
                        <a href="http://getbootstrap.com/examples/grid/"
                           target="_empty">Bootstrap grid docs
                        </a>
                    </p>

                    <p>
                        instead of typing the whole thing, provide keywords like <br>
                        <code>xlarge</code>/<code>xl</code></code> equivalent to <code>col-md-12</code> <br>
                        <code>large</code>/<code>l</code></code> equivalent to <code>col-md-8 col-md-offset-2</code>
                        <br>
                        <code>medium</code>/<code>m</code></code> equivalent to <code>col-md-6 col-md-offset-3</code>
                        <br>
                        <code>small</code>/<code>s</code></code> equivalent to <code>col-md-4 col-md-offset-4</code>
                        <br>
                        <code>xsmall</code>/<code>xs</code></code> equivalent to <code>col-md-2 col-md-offset-5</code>
                    </p>

                    <button ng-click="columnClass('medium')" class="btn btn-primary ">medium</button>
                    <button ng-click="columnClass('small')" class="btn btn-primary ">small (default)</button>
                    <button ng-click="columnClass('col-md-4')" class="btn btn-primary ">col-md-4</button>
                    <button ng-click="columnClass('col-md-4 col-md-offset-8')" class="btn btn-primary ">col-md-4
                        col-md-offset-8
                    </button>
                    <button ng-click="columnClass('xlarge')" class="btn btn-primary ">xlarge</button>
                    <button ng-click="columnClass('xlarge', true)" class="btn btn-primary ">xlarge (fluid)</button>
                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code>$ngConfirm({
    columnClass: 'small'
});
$ngConfirm({
    columnClass: 'col-md-4'
});
$ngConfirm({
    columnClass: 'col-md-4 col-md-offset-8 col-xs-4 col-xs-offset-8'
});
$ngConfirm({
    columnClass: 'col-md-4 col-md-offset-8 col-xs-4 col-xs-offset-8',
    containerFluid: true, // this will add 'container-fluid' instead of 'container'
});</code></pre>
                </div>

                <h4 id="custom-width-without-bootstrap">Custom width without Bootstrap</h4>

                <div class="section">
                    <p>
                        Many have a different taste, who wont be using bootstrap in their projects. <br>
                        You can simply provide the width of the modal, in px or any metric you want.
                    </p>

                    <div class="alert alert-warning">
                        <code>useBootstrap</code> must be set to <code>false</code> to use this feature
                    </div>

                    <button ng-click="boxWidth('30%')" class="btn btn-primary">30%</button>
                    <button ng-click="boxWidth('500px')" class="btn btn-primary">500px</button>
                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code>$ngConfirm({
    boxWidth: '30%',
    useBootstrap: false,
});
$ngConfirm({
    boxWidth: '500px',
    useBootstrap: false,
});</code></pre>
                </div>

                <h4 id="namespaced-bootstrap">Namespaced bootstrap</h4>

                <div class="section">
                    <p>
                        Namespacing is basically isolating the bootstrap classes names, like turning '.row' to
                        '.custom-row'
                        <br>
                        If you're using a namespaced bootstrap library, this option is for you.
                    </p>
                    <p>
                        <i class="fa fa-info fa-fw"></i> it is ideal to set this in defaults
                    </p>
                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code>$ngConfirm({
    bootstrapClasses: {
        container: 'container',
        containerFluid: 'container-fluid',
        row: 'row',
    },
});</code></pre>
                </div>
            </section>


            <section ng-controller="autoCloseController">
                <h2 id="autoclose">Auto close</h2>

                <p>
                    Do a action if the user does not respond within the specified time. <br>
                    This comes in handly when the user is about to do something critical. <br/>
                    The <code>autoClose</code> option takes in a string, like <code>'confirm|4000'</code> where confirm
                    is the action to trigger after 4000 milliseconds.
                    <br>
                    <i class="fa fa-info"></i> Practical examples of autoClose
                </p>

                <div class="section">
                    <button ng-click="deleteUser()" class="btn btn-primary">Delete user</button>
                    <button ng-click="logoutMyself()" class="btn btn-primary">Logout myself</button>
                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code>$ngConfirm({
    title: 'Delete user?',
    content: 'This dialog will automatically trigger \'cancel\' in 6 seconds if you don\'t respond.',
    autoClose: 'cancel|8000',
    buttons: {
        deleteUser: {
            text: 'delete user',
            btnClass: 'btn-red',
            action: function () {
               $ngConfirm('Deleted the user!');
            }
        },
        cancel: function () {
           $ngConfirm('action is canceled');
        }
    }
});
$ngConfirm({
   title: 'Logout?',
    content: 'Your time is out, you will be automatically logged out in 10 seconds.',
    autoClose: 'logoutUser|10000',
    buttons: {
        logoutUser: {
            text: 'logout myself',
            btnClass: 'btn-green',
            action: function () {
               $ngConfirm('The user was logged out');
            }
        },
        cancel: function () {
           $ngConfirm('canceled');
        }
    }
});</code></pre>
                </div>
            </section>




            <section id="backgrounddismiss" ng-controller="bgDismissController">
                <h2>
                    Background dismiss
                </h2>

                <div class="section">
                    <p>
                        Control what happens if the user clicks outside the modal. <br/>
                    </p>
                    <div class="alert alert-warning">
                        backgroundDismiss is set to false by default.
                    </div>
                    <button class="btn btn-primary" ng-click="allowBgDismiss()">Allow backgroundDismiss</button>

                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code>$.confirm({
    backgroundDismiss: true, // this will just close the modal
});
$.confirm({
    backgroundDismiss: function(){
        return false; // modal wont close.
    },
});
$.confirm({
    backgroundDismiss: function(){
        return 'buttonName'; // the button will handle it
    },
});
$.confirm({
    backgroundDismiss: 'buttonName',
    content: 'Click outside the box to close the modal',
    buttons: {
        buttonName: function () {
            $ngConfirm('Button name was clicked');
        },
        close: function () {
        }
    }
});</code></pre>

                    <script type="text/javascript">
                        $('.example22').on('click', function () {
                            $.confirm({
                                backgroundDismiss: 'buttonName',
                                content: 'in here the backgroundDismiss action is handled by buttonName' +
                                '<div class="checkbox"><label><input type="checkbox" id="enableCheckbox"> Enable backgroundDismiss</label></div>',
                                buttons: {
                                    buttonName: function () {
                                        var $checkbox = this.$content.find('#enableCheckbox');
                                        return $checkbox.prop('checked');
                                    },
                                    close: function () {
                                    }
                                }
                            });
                        });
                    </script>
                </div>

                <h4 id="backgrounddismiss-animations">Background dismiss animation</h4>
                <div class="section">
                    <p>
                        Fancy animations to grab users attention. Click outside the modal to see the animation.
                    </p>
                    <button class="btn btn-primary example22-1-1-1">Shake (default)</button>
                    <button class="btn btn-primary example22-1-1-2">Glow</button>

                    <div class="space10"></div>
                    <pre class="prettyprint linenums"><code>$.confirm({
    backgroundDismiss: false,
    backgroundDismissAnimation: 'shake',
});
$.confirm({
    backgroundDismiss: false,
    backgroundDismissAnimation: 'glow',
});</code></pre>

                </div>
                <script>
                    $('.example22-1-1-1').on('click', function () {
                        $.confirm({
                            backgroundDismiss: false,
                            backgroundDismissAnimation: 'shake',
                        });
                    });
                    $('.example22-1-1-2').on('click', function () {
                        $.confirm({
                            backgroundDismiss: false,
                            backgroundDismissAnimation: 'glow',
                        });
                    });
                </script>
            </section>










            <section class="text-right footer">
                <div class="spacer15"></div>
                <p>
                    Thanks for making it to the end of the document. <br>
                    Your support and suggestions matter the most!
                </p>
                <a href="https://github.com/craftpip/angular-confirm/issues/new"
                   target="empty"
                   class="btn btn-success">Please post your <br> Questions / Suggestions / Issues.</a>
                <h4>Made by <a href="http://twitter.com/craftpip">@craftpip</a></h4>

                <div class="spacer15"></div>
            </section>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="demo/demo.js"></script>

<script type="text/javascript"
        src="app.js"></script>

</body>
</html>