<input type="text" ng-model="something" class="form-control">
hello {{something}} how is your day ?

<!-- 16:9 aspect ratio -->
<p>
    Seamless borders for images or videos!
</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/4kHl4FoK1Ys"></iframe>
</div>

<h4>Settings</h4>
<input type="text" ng-model="ngc.title" class="form-control">
<select ng-model="ngc.theme"
        class="form-control">
    <option value="material">Material</option>
    <option value="dark">dark</option>
    <option value="white">white</option>
    <option value="bootstrap">bootstrap</option>
    <option value="supervan">supervan</option>
    <option value="modern">modern</option>
    <option value="seamless">seamless</option>
</select>
<!--<div class="checkbox">-->
<!--<label>-->
<!--<input type="checkbox" ng-model="ngc.closeIcon">-->
<!--closeIcon-->
<!--</label>-->
<!--</div>-->
<!--<div class="checkbox">-->
<!--<label>-->
<!--<input type="checkbox" ng-model="ngc.rtl">-->
<!--RTL mode-->
<!--</label>-->
<!--</div>-->
<div class="checkbox">
    <label>
        <input type="checkbox"
               ng-model="ngc.alignMiddle">
        Align middle
    </label>
</div>
<input type="number" ng-model="ngc.offsetTop" class="form-control">
<input type="number" ng-model="ngc.offsetBottom" class="form-control">
<!--<input type="text" ng-model="ngc.columnClass" class="form-control">-->
<!--<input type="text" ng-model="ngc.closeIconClass" class="form-control">-->
<!--<input type="text" ng-model="ngc.icon" class="form-control">-->