<!--<input type="text" ng-model="something" class="form-control">-->
<!--hello {{something}} how is your day ?-->

<!-- 16:9 aspect ratio -->
<p>
    Seamless borders for videos!
</p>
<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item"
            src="https://www.youtube.com/embed/QuijXg8wm28"></iframe>
</div>

<!--<h4>Settings</h4>-->
<!--<input type="text" ng-model="data.title" class="form-control">-->
<!--<select ng-model="data.theme"-->
        <!--class="form-control">-->
    <!--<option value="ng-confirm-material">Material</option>-->
    <!--<option value="ng-confirm-dark">dark</option>-->
    <!--<option value="ng-confirm-white">white</option>-->
    <!--<option value="ng-confirm-bootstrap">bootstrap</option>-->
    <!--<option value="ng-confirm-supervan">supervan</option>-->
    <!--<option value="ng-confirm-modern">modern</option>-->
<!--</select>-->
<!--<div class="checkbox">-->
<!--<label>-->
<!--<input type="checkbox" ng-model="data.closeIcon">-->
<!--closeIcon-->
<!--</label>-->
<!--</div>-->
<!--<div class="checkbox">-->
<!--<label>-->
<!--<input type="checkbox" ng-model="data.rtl">-->
<!--RTL mode-->
<!--</label>-->
<!--</div>-->
<!--<div class="checkbox">-->
    <!--<label>-->
        <!--<input type="checkbox"-->
               <!--ng-model="data.alignMiddle">-->
        <!--Align middle-->
    <!--</label>-->
<!--</div>-->
<!--<input type="number" ng-model="data.offsetTop" class="form-control">-->
<!--<input type="number" ng-model="data.offsetBottom" class="form-control">-->
<!--<input type="text" ng-model="data.columnClass" class="form-control">-->
<!--<input type="text" ng-model="data.closeIconClass" class="form-control">-->
<!--<input type="text" ng-model="data.icon" class="form-control">-->