<div class="row">
    <div class="col-md-12">
        <p>Change the below fields to see the changes.</p>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Modal type</label>
            <select name="" class="form-control"
                    ng-change="typeChange()"
                    ng-model="type">
                <option value="default">default</option>
                <option value="blue">blue</option>
                <option value="orange">orange</option>
                <option value="green">green</option>
                <option value="purple">purple</option>
                <option value="dark">dark</option>
            </select></div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Theme</label>
            <select name="" class="form-control"
                    ng-change="themeChange()"
                    ng-model="theme">
                <option value="light">light</option>
                <option value="dark">dark</option>
                <option value="supervan">supervan</option>
                <option value="modern">modern</option>
                <option value="seamless">seamless</option>
                <option value="material">material</option>
                <option value="bootstrap">bootstrap</option>
            </select></div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Icon</label>
            <input type="text" class="form-control" ng-model="icon" ng-change="iconChange()">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Title</label>
            <input type="text" class="form-control" ng-model="title" ng-change="titleChange()">
        </div>
    </div>
    <div class="col-md-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="closeIcon" ng-change="closeIconChange()">
                Close icon
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="rtl" ng-change="rtlChange()">
                Rtl
            </label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label">Close icon class</label>
            <input type="text" class="form-control" ng-model="closeIconClass" ng-change="closeIconClassChange()">
        </div>
    </div>
</div>